/client/node_modules
/admin/public/hot
/admin/public/storage
/admin/retama/storage/*.key
/admin/retama/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/cladminent/.env
!/admin/retama/config/database.php