@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";


// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


$sidebar-width: 300px;
$gap: 16px;
$box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);


$family-serif: "Merriweather", "Georgia", serif;
$family-sans-serif: 'OpenSans', Helvetica, Arial, sans-serif;
$family-primary: $family-sans-serif;

$turquoise: #198DA2;
// mgt
$mgt: #4A8DC9;
$saffron: #F2C342;
$success: #4D8916; // #5ECBA3;
$danger: #DC481D;


// saffron gradient https://mycolor.space/?hex=%23F2C342&sub=1
// #97B84D,#48A369, #00867A #096774 #2F4858
// saffron skip
// #FFC2B1 #FD8B7C #C0564B

$primary: $success;
$primary-invert: findColorInvert($primary);
$danger: $orange;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);


$label-weight: $weight-normal;

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);





